<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page de présentation</h1>
    <p>je suis la page de présentation</p>
    <!--  http://127.0.0.1:8000/presentation  -->
</body>
</html>