{% extends "front.html.twig" %}

{% block contenu_page %}

    <h1>Inscription</h1>
    <form method="POST" class="d-flex">
        <input type="email" class="form-control" placeholder="votre@email.fr" name="email">
        <input type="submit" class="btn btn-primary ms-3">
    </form>
{% endblock %}