{% extends "base.html.twig" %}

{% block title %}créer un nouveau profil étudiant{% endblock %}

{% block body %}

    <h1>Créer un nouveau profil étudiant</h1>

    {{ form(form) }}
    
{% endblock %}