{% extends "base.html.twig" %}

{% block title %}Page de Connexion{% endblock %}

{% block body %}

    <h1 class="mb-5 text-center"><i class="bi bi-door-open-fill"></i> Accéder au Back Office</h1>
    
    <form class="row">
        <div class="form-group col-3 offset-3">
            <label for="email">votre email :</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="votre@email.fr">
        </div>
        <div class="form-group col-3">
            <label for="email">votre password :</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="votre password">
        </div>
        <div class="col-12 d-flex justify-content-center mt-5">
            <input type="submit" value="se connecter" class="btn btn-outline-success btn-lg">
        </div>
    </form>

{% endblock %}