{% extends "base.html.twig" %}

{% block title %}Bienvenue sur mon blog{% endblock %}

{% block body %}

    <h1  class="mb-3"><i class="bi bi-sun"></i> Bienvenue dans mon blog</h1>
    <p>TODO : à finir</p>

{% endblock %}