{% extends "base.html.twig" %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <h1 class="mb-5"><i class="bi bi-puzzle-fill"></i> Mentions Légales</h1>
    
    {# ((h2>lorem6)+p*5>lorem30)*10 #}

    <h2 class="text-secondary">Lorem ipsum dolor sit amet consectetur.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione totam voluptate doloremque maiores cumque nobis facere provident. Provident repellat ullam repellendus impedit dolores facilis minima, amet delectus, et alias quaerat?</p>
    <p>Ullam pariatur ea itaque obcaecati eaque consequatur accusantium molestias. Asperiores sapiente, quibusdam quia consequuntur, odit, sunt ea adipisci veritatis cum repellendus a aliquam perspiciatis voluptatem quod. Labore, iure. Accusamus, deleniti?</p>
    <p>Et, veniam, ipsum illum cum, velit voluptates necessitatibus id repellendus nam aliquam saepe dolorum. Quia sit, alias delectus tenetur earum sed fugit consectetur, neque vero hic eaque, qui illum deserunt.</p>
    <p>Veritatis eligendi eveniet facilis rerum obcaecati eaque vero nisi praesentium repellendus quidem natus facere blanditiis iure ea fugiat aspernatur, sed magnam officia architecto amet quas enim animi saepe officiis. Quam!</p>
    <p>Id blanditiis minima, dolor alias quisquam doloribus expedita? Soluta aliquid vitae est architecto natus ullam et ex placeat nulla dicta. Minima quisquam hic voluptate ducimus in temporibus dicta commodi dolores!</p>
    <h2  class="text-secondary mt-4">Provident tempore consequuntur quas eligendi cumque?</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, odio neque. Rerum, distinctio veritatis. Illo id asperiores enim blanditiis, amet totam eveniet tempora ipsa et nobis voluptas magnam! Quae, dolorum.</p>
    <p>Illum laborum, iusto dolorum eos ex soluta! Unde minus ratione repellat sint. Doloribus sequi culpa illo quam ipsum soluta odio impedit, fuga omnis quidem nobis labore voluptates cumque. Ratione, et?</p>
    <p>Inventore delectus fuga, nihil beatae numquam sapiente commodi doloremque rerum quos, incidunt architecto ipsum quae libero cupiditate cum similique, assumenda velit minus recusandae dolorem autem. Ab minus aut unde beatae.</p>
    <p>Animi atque quibusdam illum, rerum ut tempora asperiores? Quasi odit necessitatibus accusantium consequatur veritatis, blanditiis fuga, tempore a impedit illum sint laborum repellendus, libero amet rem pariatur deleniti itaque eligendi.</p>
    <p>Ab expedita architecto, doloremque at consequatur ea quasi. Non ipsa officia ut, cupiditate quia molestias nobis deserunt harum quas rem delectus! Veniam corporis incidunt neque ex placeat sed ipsam consectetur.</p>
    <h2  class="text-secondary mt-4">In veritatis optio dolorem magnam nesciunt.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, odit possimus! Dignissimos illum earum ratione praesentium, tempora omnis inventore fuga eum, rem ipsam quod! Hic, voluptatibus dicta! Nesciunt, quia? Magni?</p>
    <p>Quia laborum molestias porro commodi assumenda animi facilis voluptate error repellat nemo! Eligendi laboriosam velit nemo rem eius quis officia! Modi, ullam. Libero eaque perspiciatis corporis eius excepturi doloribus impedit.</p>
    <p>Temporibus minima sapiente nihil quae quos magni laboriosam magnam sed officia similique, asperiores repellat molestiae! Ut dolor error quibusdam at minus quisquam eaque nulla nemo! Ad repellendus doloremque illum qui?</p>
    <p>Quo, laboriosam hic. Porro optio rem rerum assumenda, molestiae ut! Dignissimos veniam saepe ratione sit, nobis maiores asperiores unde est ullam deleniti veritatis iure obcaecati? Qui vero rem veniam voluptates?</p>
    <p>Repellat reprehenderit maxime aspernatur ad debitis, maiores qui sequi temporibus nam officia cupiditate minus id, voluptatibus ut sapiente omnis eos, non placeat quibusdam sit! Ipsam sed eaque vel ullam blanditiis.</p>
    <h2  class="text-secondary mt-4">Beatae inventore odio maxime quidem numquam.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus impedit voluptatibus doloribus dolor, sapiente aperiam fugit magnam a in odio eaque ad iusto. Quod incidunt, commodi deleniti quia quis earum?</p>
    <p>Ipsam explicabo quaerat qui aliquid voluptate quia placeat, distinctio provident vero maiores similique quisquam consectetur accusantium nulla, cum porro earum exercitationem saepe architecto possimus dolor temporibus quo. Officiis, exercitationem cumque.</p>
    <p>Recusandae explicabo aspernatur velit quos laboriosam consectetur necessitatibus. Alias aliquid quasi illum, unde corrupti quo modi earum eligendi, numquam omnis aliquam quaerat, commodi officia perferendis ullam soluta laudantium aperiam. Rerum.</p>
    <p>Accusantium, accusamus modi! Sit eum rerum saepe perferendis dolorem ullam delectus magni incidunt vel nemo hic laboriosam esse vero architecto dolore, similique corporis molestias odio sunt doloribus. Alias, aliquam non.</p>
    <p>Qui sapiente aperiam fuga voluptatibus quisquam dolorum repellat nemo libero pariatur, in voluptate porro unde alias consequatur fugiat rem sit. Placeat ab velit sapiente voluptas cum reprehenderit rerum corrupti sint.</p>
    <h2  class="text-secondary mt-4">Sint minus veritatis possimus quasi officia?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem illum eligendi cumque magnam neque, laborum obcaecati rerum harum tempore quam aperiam quibusdam labore ratione nam ea fuga fugit saepe odit.</p>
    <p>Maxime tempora facilis natus eius numquam soluta magni molestiae sequi animi minus libero alias quisquam et repellendus, sunt quae nemo aperiam, quibusdam rem, nihil incidunt temporibus cupiditate? Nemo, optio voluptas.</p>
    <p>Voluptates quos enim doloribus sit qui, nam eum obcaecati eos. Rem, quos nostrum, doloribus et at odio harum eos dolorem consequuntur, deserunt possimus quas molestiae nisi earum sed exercitationem fugiat?</p>
    <p>Eaque, totam! Tenetur facilis facere, neque necessitatibus modi reiciendis quam totam eius commodi laboriosam. Numquam, aliquam. Officia, excepturi, dolorem repudiandae est, facere sit dignissimos voluptatum cum at eveniet iure voluptate!</p>
    <p>Totam quod cum, quidem porro voluptatem inventore at corrupti. Libero suscipit beatae accusantium, recusandae doloremque nesciunt aperiam fugiat corporis. Quae accusantium architecto nesciunt quasi velit est officia earum error distinctio.</p>
    <h2  class="text-secondary mt-4">Maxime, id quibusdam. Expedita, quas sint?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, consequuntur alias! Voluptates repudiandae optio libero odit quae ab, nobis vero quam blanditiis placeat eligendi dolores aliquid perferendis ex voluptas et.</p>
    <p>Corrupti eligendi qui dolores illo nobis veritatis odio voluptates perspiciatis, quisquam cupiditate quidem tempora dignissimos magni vel fuga porro doloribus laboriosam ratione eveniet quaerat distinctio, aperiam officiis obcaecati. Soluta, vel!</p>
    <p>Neque, repellat sit! Aperiam, hic nisi natus tempora cupiditate delectus corrupti cumque rem dolor sed ratione ut numquam dolore adipisci nam. Doloremque minima similique doloribus. Voluptates vitae aspernatur temporibus recusandae.</p>
    <p>Quo sint reprehenderit repudiandae asperiores blanditiis rerum reiciendis, ea repellat quam modi quod dolor aut aspernatur explicabo veritatis voluptatem, est optio illum. Sint veniam repudiandae vitae esse aliquam illum ipsam.</p>
    <p>Explicabo dicta corporis nesciunt praesentium voluptatum perspiciatis, totam minima sit fuga accusamus itaque aliquid perferendis repudiandae iusto, ea ducimus distinctio dolore hic aut nulla? In nam placeat quia quibusdam et?</p>
    <h2  class="text-secondary mt-4">Earum numquam ea repudiandae id enim.</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita earum perferendis veniam quibusdam vel possimus a aliquid laborum! Facere, dignissimos! Rem nemo ipsa veniam harum dolores, cum eum sapiente quos.</p>
    <p>Cum adipisci quia in totam animi enim. Iste commodi enim suscipit facilis modi sit tempore necessitatibus neque excepturi perspiciatis optio perferendis dolor ex explicabo numquam distinctio accusantium, saepe possimus delectus!</p>
    <p>Commodi hic, deleniti nostrum dolore itaque suscipit nihil illo! Ratione animi laborum eum, libero accusantium sit veritatis vero dolore excepturi inventore ipsum omnis, dolorem quae ipsa nulla cum esse tempore.</p>
    <p>Deserunt laudantium doloribus dolorum, tenetur, sed nesciunt et minus veritatis minima incidunt maiores quibusdam eligendi totam quidem est delectus dolore. Illum eius, adipisci voluptate exercitationem ipsam at quo recusandae quod.</p>
    <p>Nisi eveniet quia ducimus impedit itaque ipsa accusantium soluta natus, deleniti corporis. Ullam porro consequatur velit optio eveniet. Quo earum ratione beatae perferendis iste vel laboriosam ut dolorem. Incidunt, esse.</p>
    <h2  class="text-secondary mt-4">Sunt explicabo vel omnis incidunt eos.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda natus ea amet quas eius. Molestias hic sunt quia quo saepe asperiores sit, ratione neque vitae illo? Laudantium laborum libero quis.</p>
    <p>Voluptatum autem laboriosam nostrum labore eaque, adipisci nulla maxime suscipit consectetur temporibus aspernatur totam placeat laudantium nihil reprehenderit laborum exercitationem perspiciatis ut, dolorem voluptas. Suscipit fugiat aut dignissimos minus dolore.</p>
    <p>Nobis itaque labore eos excepturi ipsam fugiat pariatur magni. Quia est corrupti mollitia aperiam facilis accusamus error. Modi cum quidem officiis laboriosam distinctio minima. Quo amet suscipit a quisquam iste.</p>
    <p>Magni et explicabo excepturi neque dolorem. Eum quas saepe nulla rem veritatis possimus eligendi expedita nam amet commodi tempora illo facilis, ducimus, exercitationem qui obcaecati magni quia suscipit, modi cupiditate.</p>
    <p>Sunt, eligendi! Aliquid nemo blanditiis fugit error sit provident! Et quam quisquam, similique quaerat aspernatur dicta vitae? Voluptate reprehenderit et perspiciatis dolor maiores, vitae facilis magnam, debitis iste illo aperiam?</p>
    <h2  class="text-secondary mt-4">Quibusdam quo esse sequi ab? Recusandae!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reprehenderit exercitationem ratione provident doloribus illum quasi? Earum doloribus unde illo, quis commodi minima recusandae voluptatem perferendis quidem suscipit placeat sit.</p>
    <p>Sint magni sit praesentium provident optio inventore odio. Perferendis, dolore. Nobis nemo fugit iste nihil minus, sit illum, alias nam placeat debitis veniam suscipit eaque soluta? Sint consectetur excepturi id.</p>
    <p>Soluta, quam fugit culpa nulla maxime facilis reprehenderit aperiam numquam officiis, minima cumque inventore, veritatis dolore. Laborum officiis est praesentium, quisquam itaque eveniet harum necessitatibus, excepturi, corrupti error accusantium! Veritatis?</p>
    <p>Ex temporibus facere nesciunt exercitationem explicabo perspiciatis impedit, dignissimos omnis debitis repellendus, cupiditate vitae est et, quasi cumque culpa alias tenetur dicta eligendi placeat dolore consequatur aliquid asperiores! Ducimus, cum?</p>
    <p>Quaerat exercitationem sunt amet. Nam labore ullam laborum temporibus facere error numquam totam est. Minima, soluta rerum! Non quisquam voluptatibus iusto iste tempore dolores atque beatae, molestiae pariatur, nostrum voluptate?</p>
    <h2  class="text-secondary mt-4">Quibusdam veritatis asperiores sit eaque debitis.</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero nemo minima perferendis quam incidunt ad! Eum tempora quos facilis veniam sit vero molestiae voluptates ipsum, in obcaecati delectus velit quisquam?</p>
    <p>Maxime reprehenderit doloribus quaerat eveniet maiores, repellendus iure labore aliquid eius nemo esse porro est ipsam molestias sequi tenetur mollitia error dolore aperiam laboriosam magni quasi numquam. Reprehenderit, dolorem consectetur.</p>
    <p>Qui vitae magnam laboriosam quaerat ea dolorum sint. Dolorem vel molestias nostrum consequuntur tenetur perspiciatis autem debitis culpa est dolorum iusto, minus, at ipsum sunt aliquid libero unde nemo deserunt.</p>
    <p>Laboriosam debitis praesentium aspernatur saepe explicabo placeat quibusdam, aperiam enim cumque. Recusandae, libero dolor. Et autem reprehenderit magnam facilis neque sapiente amet asperiores, veritatis nobis? Possimus assumenda unde magni quo?</p>
    <p>Quidem, doloremque distinctio illum non dolores cum maiores. Maiores voluptate architecto, culpa vel tempora animi harum, laudantium id sunt quae, dolorum nulla autem consectetur error rerum? Aspernatur provident quos nemo.</p>

{% endblock %}