{% extends "base.html.twig" %}

{% block title %}Qui sommes nous ???{% endblock %}

{% block body %}

    <h1><i class="bi bi-alarm-fill"></i> Qui sont les concepteurs de ce site ???</h1>
    
    {# https://picsum.photos/ #}

    <img src="{{asset("img/presentation.jpg")}}" alt="" class="img-thumbnail my-3">

    {# ((h2>lorem5)+p*3>lorem20)*4 #}
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum id ducimus nisi atque doloribus at ratione cum alias accusamus provident?</p>
    <p>Aspernatur rem, quis libero deserunt et sit ea beatae perspiciatis possimus, quos veritatis cum reprehenderit voluptate facere, voluptatibus similique repudiandae?</p>
    <p>Veritatis aperiam, nisi consequuntur perspiciatis nam repellat debitis officiis sed quo quasi quidem alias amet repudiandae, doloribus odio ullam eum.</p>
    <h2>Repudiandae asperiores maxime rerum unde.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus accusantium accusamus consequatur nisi earum a unde delectus soluta libero consequuntur.</p>
    <p>Animi, fuga explicabo. Molestiae iure asperiores modi. Ratione hic aliquam laudantium error consectetur iste debitis. Inventore eius sapiente sint ab!</p>
    <p>Labore expedita minima consectetur quam omnis harum vitae quibusdam eum odio, laborum dolore dolor nobis soluta possimus ut et hic.</p>
    <h2>Saepe ducimus provident dolore ab.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae a esse iusto, qui non cumque. Provident ducimus doloribus natus molestiae!</p>
    <p>Saepe praesentium numquam velit quis magni esse et aspernatur voluptatem, similique quam accusantium eveniet rerum adipisci sed iusto autem vitae?</p>
    <p>Id vero praesentium non? Hic nulla ducimus maiores laboriosam laborum corporis nihil minus, minima voluptatem ipsam voluptatibus voluptates esse deserunt?</p>
    <h2>Nam porro temporibus maiores dolorem!</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae sequi ab iste molestias numquam provident nulla rerum. Quidem, deserunt veritatis.</p>
    <p>Corporis ipsum quos doloremque! Tempora saepe quam perspiciatis id quis dolores. Eum, veniam accusantium ex distinctio eaque alias minima dolor.</p>
    <p>Rerum dolorem, ullam sit animi atque laboriosam dignissimos qui beatae explicabo. Assumenda deserunt modi, dolorum numquam veritatis placeat illo nulla.</p>

{% endblock %}